.genres{
    .genre{
        background-color: var(--pink);
        padding: 3px 6px 4px;
        font-size: 12px;
        border-radius: 4px;
        color: white;
        white-space: nowrap;
        max-width: fit-content;
    }
}